In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]

data = {}
for item in data_files:
    d = pd.read_csv(item)
    key_name = item.replace('.csv','')  #Replacing .csv with '' to save it as key name
    data[key_name] = d

Reading all the data files required and storing them in a Dictionary with the File Names as the key and the data frames as the data.

In [2]:
print(data['sat_results'].head(5))

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

Accessing SAT Results data using the dictionary. Understanding how the data looks.
From the data above we can conclude that:

1. The column 'DBN' seems to be unique for every school.
2. There is only a single row for each school, hence there is only one DBN per school.
3. The SAT Scores have been divided as per the individual sections, which we may need to combine at some later point for a complete analysis.

In [3]:
for item in data:
    print(data[item].head(2))

    Demographic     DBN                            School Name Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2004

   Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
0             5               s                         s                 s
1            55              37                     67.3%                17

  Total Regents - % of cohort Total Regents - % of grads  \
0                           s                          s
1                       30.9%                      45.9%

             ...            Regents w/o Advanced - n  \
0            ...                                   s
1            ...                                  17

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                                  s                                 s
1                              30.9%                             45.9%

  Local - n Local - % of cohort Local - % of grads Still Enrolled - n  \
0         s                   s                  s                  s
1        20               36.4%              54.1%                 15

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                            s               s                         s
1                        27.3%               3                      5.5%

[2 rows x 23 columns]
      DBN                    SchoolName AP Test Takers  Total Exams Taken  \
0  01M448  UNIVERSITY NEIGHBORHOOD H.S.              39                49
1  01M450        EAST SIDE COMMUNITY HS              19                21

  Number of Exams with scores 3 4 or 5
0                                   10
1                                    s
      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN

   total_enrollment prek   k grade1 grade2    ...     black_num black_per  \
0               281   15  36     40     33    ...            74      26.3
1               243   15  29     39     38    ...            68      28.0

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0

  female_per
0       43.8
1       42.4

[2 rows x 38 columns]
      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423

  SAT Writing Avg. Score
0                    363
1                    366
   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
      dbn                          school_name      boro building_code  \
0  17K548  Brooklyn School for Music & Theatre  Brooklyn          K440
1  09X543     High School for Violin and Dance     Bronx          X400

   phone_number    fax_number grade_span_min  grade_span_max  \
0  718-230-6250  718-230-6262              9              12
1  718-842-0687  718-589-9849              9              12

  expgrade_span_min  expgrade_span_max  \
0               NaN                NaN
1               NaN                NaN

                         ...                          \
0                        ...
1                        ...

                                          priority02  \
0                    Then to New York City residents
1  Then to New York City residents who attend an ...

                            priority03                       priority04  \
0                                  NaN                              NaN
1  Then to Bronx students or residents  Then to New York City residents

  priority05 priority06  priority07 priority08  priority09 priority10  \
0        NaN        NaN         NaN        NaN         NaN        NaN
1        NaN        NaN         NaN        NaN         NaN        NaN

                                          Location 1
0  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1  1110 Boston Road\nBronx, NY 10456\n(40.8276026...

[2 rows x 58 columns]

In order to combine all the data sets, we can use the 'DBN' column. Some of the datasets dont have the DBN column, so we can use the information to create a DBN column for those that don't.

For those who have a DBN column, we can join them on row basis, by adding columns. 
Also, some datasets have multiple entries with same 'DBN' values, so we will need to do some cleaning there to make sure there are only unique values.

In [4]:
all_survey = pd.read_csv('survey_all.txt', delimiter='\t', encoding='windows-1252') #Reading in the survey_all.txt data

d75_survey = pd.read_csv('survey_d75.txt', delimiter='\t', encoding='windows-1252') #Reading in the survey_d75.txt data

survey = pd.concat([all_survey,d75_survey], axis=0)
print(survey.head(2))

     N_p  N_s   N_t  aca_p_11  aca_s_11  aca_t_11  aca_tot_11    bn  com_p_11  \
0   90.0  NaN  22.0       7.8       NaN       7.9         7.9  M015       7.6
1  161.0  NaN  34.0       7.8       NaN       9.1         8.4  M019       7.6

   com_s_11   ...    t_q8c_1  t_q8c_2  t_q8c_3 t_q8c_4  t_q9  t_q9_1  t_q9_2  \
0       NaN   ...       29.0     67.0      5.0     0.0   NaN     5.0    14.0
1       NaN   ...       74.0     21.0      6.0     0.0   NaN     3.0     6.0

   t_q9_3  t_q9_4  t_q9_5
0    52.0    24.0     5.0
1     3.0    78.0     9.0

[2 rows x 2773 columns]

Combining the 2 survey text files into a single pandas dataframe using 'concat' method. As you can see, it requires a lot of cleaning before we can proceed.

In [5]:
survey["DBN"] = survey["bn"]

survey_fields = [
    "DBN", 
    "rr_s", 
    "rr_t", 
    "rr_p", 
    "N_s", 
    "N_t", 
    "N_p", 
    "saf_p_11", 
    "com_p_11", 
    "eng_p_11", 
    "aca_p_11", 
    "saf_t_11", 
    "com_t_11", 
    "eng_t_11", 
    "aca_t_11", 
    "saf_s_11", 
    "com_s_11", 
    "eng_s_11", 
    "aca_s_11", 
    "saf_tot_11", 
    "com_tot_11", 
    "eng_tot_11", 
    "aca_tot_11",
]
survey = survey.loc[:,survey_fields]
data["survey"] = survey

print(survey.head())

    DBN  rr_s  rr_t  rr_p    N_s   N_t    N_p  saf_p_11  com_p_11  eng_p_11  \
0  M015   NaN    88    60    NaN  22.0   90.0       8.5       7.6       7.5
1  M019   NaN   100    60    NaN  34.0  161.0       8.4       7.6       7.6
2  M020   NaN    88    73    NaN  42.0  367.0       8.9       8.3       8.3
3  M034  89.0    73    50  145.0  29.0  151.0       8.8       8.2       8.0
4  M063   NaN   100    60    NaN  23.0   90.0       8.7       7.9       8.1

      ...      eng_t_11  aca_t_11  saf_s_11  com_s_11  eng_s_11  aca_s_11  \
0     ...           7.6       7.9       NaN       NaN       NaN       NaN
1     ...           8.9       9.1       NaN       NaN       NaN       NaN
2     ...           6.8       7.5       NaN       NaN       NaN       NaN
3     ...           6.8       7.8       6.2       5.9       6.5       7.4
4     ...           7.8       8.1       NaN       NaN       NaN       NaN

   saf_tot_11  com_tot_11  eng_tot_11  aca_tot_11
0         8.0         7.7         7.5         7.9
1         8.5         8.1         8.2         8.4
2         8.2         7.3         7.5         8.0
3         7.3         6.7         7.1         7.9
4         8.5         7.6         7.9         8.0

[5 rows x 23 columns]

In [6]:
data['hs_directory']['DBN'] = data['hs_directory']['dbn']

Now that we need to combine all tthe datasets using the 'DBN' column, the 'hs_directory' dataset has a 'dbn' column, which we have now created a 'DBN' column using the 'dbn' column.

In [7]:
def padding(num):
    num_str = str(num)
    if len(num_str) == 1:
        return '0'+num_str
    else:
        return num_str

data['class_size']['padded_csd'] = data['class_size']['CSD'].apply(padding)

data['class_size']['DBN'] = data['class_size']['padded_csd'] + data['class_size']['SCHOOL CODE']

In the 'class_size' dataset, we have 2 columns from which we can generate the 'DBN' column, which are:
    1. 'CSD'
    2. 'SCHOOL CODE'
The problem with using 'CSD' is that some of the entries are single digit, so we need to pad them with 0 for entries which have len = 1.
And then just combine the two columns to generate a new column called 'DBN'.

In [8]:
data['sat_results']['SAT Math Avg. Score'] = pd.to_numeric(data['sat_results']['SAT Math Avg. Score'],errors='coerce')
data['sat_results']['SAT Critical Reading Avg. Score'] = pd.to_numeric(data['sat_results']['SAT Critical Reading Avg. Score'],errors='coerce')
data['sat_results']['SAT Writing Avg. Score'] = pd.to_numeric(data['sat_results']['SAT Writing Avg. Score'],errors='coerce')

data['sat_results']['sat_score'] = data['sat_results']['SAT Math Avg. Score'] + data['sat_results']['SAT Critical Reading Avg. Score'] + data['sat_results']['SAT Writing Avg. Score']

print(data['sat_results']['sat_score'].head(5))

0    1122.0
1    1172.0
2    1149.0
3    1174.0
4    1207.0
Name: sat_score, dtype: float64

Converting the individual section SAT scores to numeric and adding them to create a consolidated SAT Score.

In [9]:
import re

def find_lat(loc):
    coords = re.findall("\(.+, .+\)", "1110 Boston Road\nBronx, NY 10456\n(40.8276026690005, -73.90447525699966)")
    lat = coords[0].split(",")[0].replace("(", "")
    return lat

data['hs_directory']['lat'] = data['hs_directory']['Location 1'].apply(find_lat)
print(data['hs_directory'].head(2))

      dbn                          school_name      boro building_code  \
0  17K548  Brooklyn School for Music & Theatre  Brooklyn          K440
1  09X543     High School for Violin and Dance     Bronx          X400

   phone_number    fax_number grade_span_min  grade_span_max  \
0  718-230-6250  718-230-6262              9              12
1  718-842-0687  718-589-9849              9              12

  expgrade_span_min  expgrade_span_max        ...         \
0               NaN                NaN        ...
1               NaN                NaN        ...

                        priority04 priority05 priority06 priority07  \
0                              NaN        NaN        NaN        NaN
1  Then to New York City residents        NaN        NaN        NaN

  priority08  priority09 priority10  \
0        NaN         NaN        NaN
1        NaN         NaN        NaN

                                          Location 1     DBN               lat
0  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...  17K548  40.8276026690005
1  1110 Boston Road\nBronx, NY 10456\n(40.8276026...  09X543  40.8276026690005

[2 rows x 60 columns]

Extracting Latitude values from the 'Location 1' column.

In [10]:
import re

def find_lon(loc):
    coords = re.findall("\(.+, .+\)", loc)
    lon = coords[0].split(",")[1].replace(")", "").strip()
    return lon

data['hs_directory']['lon'] = data['hs_directory']['Location 1'].apply(find_lon)

data['hs_directory']['lat'] = pd.to_numeric(data['hs_directory']['lat'],errors='coerce')
data['hs_directory']['lon'] = pd.to_numeric(data['hs_directory']['lon'],errors='coerce')
print(data['hs_directory'].head(2))

      dbn                          school_name      boro building_code  \
0  17K548  Brooklyn School for Music & Theatre  Brooklyn          K440
1  09X543     High School for Violin and Dance     Bronx          X400

   phone_number    fax_number grade_span_min  grade_span_max  \
0  718-230-6250  718-230-6262              9              12
1  718-842-0687  718-589-9849              9              12

  expgrade_span_min  expgrade_span_max    ...     priority05 priority06  \
0               NaN                NaN    ...            NaN        NaN
1               NaN                NaN    ...            NaN        NaN

  priority07 priority08 priority09  priority10  \
0        NaN        NaN        NaN         NaN
1        NaN        NaN        NaN         NaN

                                          Location 1     DBN        lat  \
0  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...  17K548  40.827603
1  1110 Boston Road\nBronx, NY 10456\n(40.8276026...  09X543  40.827603

         lon
0 -73.961648
1 -73.904475

[2 rows x 61 columns]

Doing the same thing for Longitutde.

In [11]:
class_size = data['class_size']

class_size = class_size[class_size['GRADE '] == '09-12']

class_size = class_size[class_size['PROGRAM TYPE'] == 'GEN ED']
print(class_size.head())

     CSD BOROUGH SCHOOL CODE                                    SCHOOL NAME  \
225    1       M        M292  Henry Street School for International Studies
226    1       M        M292  Henry Street School for International Studies
227    1       M        M292  Henry Street School for International Studies
228    1       M        M292  Henry Street School for International Studies
229    1       M        M292  Henry Street School for International Studies

    GRADE  PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
225  09-12       GEN ED                              ENGLISH
226  09-12       GEN ED                              ENGLISH
227  09-12       GEN ED                              ENGLISH
228  09-12       GEN ED                              ENGLISH
229  09-12       GEN ED                                 MATH

    CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
225                           English 9                           -
226                          English 10                           -
227                          English 11                           -
228                          English 12                           -
229                  Integrated Algebra                           -

     NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
225                               63.0                 3.0
226                               79.0                 3.0
227                               38.0                 2.0
228                               69.0                 3.0
229                               53.0                 3.0

     AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
225                21.0                    19.0                   25.0
226                26.3                    24.0                   31.0
227                19.0                    16.0                   22.0
228                23.0                    13.0                   30.0
229                17.7                    16.0                   21.0

    DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO padded_csd     DBN
225       STARS                             NaN         01  01M292
226       STARS                             NaN         01  01M292
227       STARS                             NaN         01  01M292
228       STARS                             NaN         01  01M292
229       STARS                             NaN         01  01M292

We need to do some more cleaning now, particulary we are now filtering data only for columns 'GRADE ' and 'PROGRAM TYPE' since we need only grades 9-12 and program type 'GEN ED' for our analysis here.

In [12]:
import numpy

class_size = class_size.groupby('DBN').agg(numpy.mean)
class_size.reset_index('DBN', inplace=True)
data['class_size'] = class_size
print(data['class_size'].head(2))

      DBN  CSD  NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
0  01M292    1                               88.0                 4.0
1  01M332    1                               46.0                 2.0

   AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
0           22.564286                    18.5              26.571429
1           22.000000                    21.0              23.500000

   SCHOOLWIDE PUPIL-TEACHER RATIO
0                             NaN
1                             NaN

Even after cleaning the data on those columns above, we still need to clean the data based on the CORE COURSE (MS CORE and 9-12 ONLY) and CORE SUBJECT (MS CORE and 9-12 ONLY) columns.
In order to do this, we group the columns by 'DBN' and then take the aggregate of those groups therebe ensuring that there is only 1 DBN entry per row.

In [13]:
demographics = data['demographics']

demographics = demographics[demographics['schoolyear'] == 20112012]
data['demographics'] = demographics
print(data['demographics'].head(5))

       DBN                                              Name  schoolyear  \
6   01M015  P.S. 015 ROBERTO CLEMENTE                           20112012
13  01M019  P.S. 019 ASHER LEVY                                 20112012
20  01M020  PS 020 ANNA SILVER                                  20112012
27  01M034  PS 034 FRANKLIN D ROOSEVELT                         20112012
35  01M063  PS 063 WILLIAM MCKINLEY                             20112012

   fl_percent  frl_percent  total_enrollment prek    k grade1 grade2  \
6         NaN         89.4               189   13   31     35     28
13        NaN         61.5               328   32   46     52     54
20        NaN         92.5               626   52  102    121     87
27        NaN         99.7               401   14   34     38     36
35        NaN         78.9               176   18   20     30     21

      ...     black_num black_per hispanic_num hispanic_per white_num  \
6     ...            63      33.3          109         57.7         4
13    ...            81      24.7          158         48.2        28
20    ...            55       8.8          357         57.0        16
27    ...            90      22.4          275         68.6         8
35    ...            41      23.3          110         62.5        15

   white_per male_num male_per female_num female_per
6        2.1     97.0     51.3       92.0       48.7
13       8.5    147.0     44.8      181.0       55.2
20       2.6    330.0     52.7      296.0       47.3
27       2.0    204.0     50.9      197.0       49.1
35       8.5     97.0     55.1       79.0       44.9

[5 rows x 38 columns]

Condensing 'demograhics.csv' to ensure to use only the recent schoolyear.

In [14]:
graduation = data['graduation']

graduation = graduation[graduation['Cohort'] == '2006']
graduation = graduation[graduation['Demographic'] == 'Total Cohort']
data['graduation'] = graduation
print(data['graduation'].head(5))

     Demographic     DBN                            School Name Cohort  \
3   Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2006
10  Total Cohort  01M448    UNIVERSITY NEIGHBORHOOD HIGH SCHOOL   2006
17  Total Cohort  01M450             EAST SIDE COMMUNITY SCHOOL   2006
24  Total Cohort  01M509                MARTA VALLE HIGH SCHOOL   2006
31  Total Cohort  01M515  LOWER EAST SIDE PREPARATORY HIGH SCHO   2006

    Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
3             78              43                     55.1%                36
10           124              53                     42.7%                42
17            90              70                     77.8%                67
24            84              47                       56%                40
31           193             105                     54.4%                91

   Total Regents - % of cohort Total Regents - % of grads  \
3                        46.2%                      83.7%
10                       33.9%                      79.2%
17         74.400000000000006%                      95.7%
24                       47.6%                      85.1%
31                       47.2%                      86.7%

              ...            Regents w/o Advanced - n  \
3             ...                                  36
10            ...                                  34
17            ...                                  67
24            ...                                  23
31            ...                                  22

   Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
3                               46.2%                             83.7%
10                              27.4%                             64.2%
17                74.400000000000006%                             95.7%
24                              27.4%                             48.9%
31                              11.4%                               21%

   Local - n Local - % of cohort Local - % of grads Still Enrolled - n  \
3          7                  9%              16.3%                 16
10        11                8.9%              20.8%                 46
17         3                3.3%               4.3%                 15
24         7  8.300000000000001%              14.9%                 25
31        14                7.3%              13.3%                 53

   Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
3                         20.5%              11                     14.1%
10                        37.1%              20       16.100000000000001%
17                        16.7%               5                      5.6%
24                        29.8%               5                        6%
31                        27.5%              35       18.100000000000001%

[5 rows x 23 columns]

Condensing 'demographics.csv' by selection columns specifically for Cohort = 2006 and Demographic = Total Cohort.

In [15]:
cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']

for col in cols:
    data['ap_2010'][col] = pd.to_numeric(data['ap_2010'][col], errors='coerce')
print(data['ap_2010'].head(5))

      DBN                             SchoolName  AP Test Takers   \
0  01M448           UNIVERSITY NEIGHBORHOOD H.S.             39.0
1  01M450                 EAST SIDE COMMUNITY HS             19.0
2  01M515                    LOWER EASTSIDE PREP             24.0
3  01M539         NEW EXPLORATIONS SCI,TECH,MATH            255.0
4  02M296  High School of Hospitality Management              NaN

   Total Exams Taken  Number of Exams with scores 3 4 or 5
0               49.0                                  10.0
1               21.0                                   NaN
2               26.0                                  24.0
3              377.0                                 191.0
4                NaN                                   NaN

In order to condense ap_2010.csv, we first need to convert the above columns in ap_2010 to numeric dtype.

In [16]:
combined = data["sat_results"]

combined = combined.merge(data['ap_2010'], on='DBN', how='left')
combined = combined.merge(data['graduation'], on='DBN', how='left')

print(combined.head(5))
print(combined.shape)

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers  SAT Critical Reading Avg. Score  \
0                     29                            355.0
1                     91                            383.0
2                     70                            377.0
3                      7                            414.0
4                     44                            390.0

   SAT Math Avg. Score  SAT Writing Avg. Score  sat_score  \
0                404.0                   363.0     1122.0
1                423.0                   366.0     1172.0
2                402.0                   370.0     1149.0
3                401.0                   359.0     1174.0
4                433.0                   384.0     1207.0

                     SchoolName  AP Test Takers   Total Exams Taken  \
0                           NaN              NaN                NaN
1  UNIVERSITY NEIGHBORHOOD H.S.             39.0               49.0
2        EAST SIDE COMMUNITY HS             19.0               21.0
3                           NaN              NaN                NaN
4                           NaN              NaN                NaN

             ...             Regents w/o Advanced - n  \
0            ...                                   36
1            ...                                   34
2            ...                                   67
3            ...                                  NaN
4            ...                                   23

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                              46.2%                             83.7%
1                              27.4%                             64.2%
2                74.400000000000006%                             95.7%
3                                NaN                               NaN
4                              27.4%                             48.9%

  Local - n  Local - % of cohort Local - % of grads Still Enrolled - n  \
0         7                   9%              16.3%                 16
1        11                 8.9%              20.8%                 46
2         3                 3.3%               4.3%                 15
3       NaN                  NaN                NaN                NaN
4         7   8.300000000000001%              14.9%                 25

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                        20.5%              11                     14.1%
1                        37.1%              20       16.100000000000001%
2                        16.7%               5                      5.6%
3                          NaN             NaN                       NaN
4                        29.8%               5                        6%

[5 rows x 33 columns]
(479, 33)

Now that we have cleaned and condensed all the individual datasets, we need to combined them using the pandas.merge method, where we have to specify which merge type we are going to do.
Here, for columns ap_2010 and graduation, we have a lot of missing values, so we will be using the 'left' join to preserve values.

In [17]:
combined = combined.merge(data['class_size'], on='DBN', how='inner')
print(combined.shape)

(435, 40)

In [18]:
combined = combined.merge(data['demographics'], on='DBN', how='inner')
print(combined.shape)

(435, 77)

In [19]:
combined = combined.merge(data['hs_directory'], on='DBN', how='inner')
print(combined.shape)

(363, 137)

Now that we are done with the 'left joins', we need to combine the class_size, demographics and hs_directory columns to combined. Here we use 'inner' join or merge because there are only a few missing values.

In [20]:
means = combined.mean()
combined = combined.fillna(means)
combined = combined.fillna(0)
print(combined.head(5))

      DBN                                        SCHOOL NAME  \
0  01M292      HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448                UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                         EAST SIDE COMMUNITY SCHOOL
3  01M509                            MARTA VALLE HIGH SCHOOL
4  01M539  NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...

  Num of SAT Test Takers  SAT Critical Reading Avg. Score  \
0                     29                            355.0
1                     91                            383.0
2                     70                            377.0
3                     44                            390.0
4                    159                            522.0

   SAT Math Avg. Score  SAT Writing Avg. Score  sat_score  \
0                404.0                   363.0     1122.0
1                423.0                   366.0     1172.0
2                402.0                   370.0     1149.0
3                433.0                   384.0     1207.0
4                574.0                   525.0     1621.0

                       SchoolName  AP Test Takers   Total Exams Taken  \
0                               0       129.028846         197.038462
1    UNIVERSITY NEIGHBORHOOD H.S.        39.000000          49.000000
2          EAST SIDE COMMUNITY HS        19.000000          21.000000
3                               0       129.028846         197.038462
4  NEW EXPLORATIONS SCI,TECH,MATH       255.000000         377.000000

     ...                                   priority04  \
0    ...      Then to Manhattan students or residents
1    ...                                            0
2    ...                                            0
3    ...                                            0
4    ...                                            0

                        priority05 priority06 priority07  priority08  \
0  Then to New York City residents          0          0           0
1                                0          0          0           0
2                                0          0          0           0
3                                0          0          0           0
4                                0          0          0           0

  priority09 priority10                                         Location 1  \
0          0          0  220 Henry Street\nNew York, NY 10002\n(40.7137...
1          0          0  200 Monroe Street\nNew York, NY 10002\n(40.712...
2          0          0  420 East 12 Street\nNew York, NY 10009\n(40.72...
3          0          0  145 Stanton Street\nNew York, NY 10002\n(40.72...
4          0          0  111 Columbia Street\nNew York, NY 10002\n(40.7...

         lat        lon
0  40.827603 -73.985260
1  40.827603 -73.984797
2  40.827603 -73.983041
3  40.827603 -73.985673
4  40.827603 -73.979426

[5 rows x 137 columns]

Since we did left joins on 2 columns, we now have a lot of NaN or Null values which we need to deal with. For this, we replace any NaN values with the mean values for the column.
Any NaN values left, we will use 0 using the fillna method.

In [22]:
def school_dist(string):
    name = string
    return(name[0:2])
combined['school_dist'] = combined['DBN'].apply(school_dist)
print(combined['school_dist'].head(5))

0    01
1    01
2    01
3    01
4    01
Name: school_dist, dtype: object

Now our data is ready for analysis. Here we are trying to map out statistics on a school district level, so we have written a function to extract the school district code and assign it to a new column called 'school_dist'.